@import '@unocss/reset/normalize.css';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: transparent;
}

#app {
    height: 100%;
}

.n-config-provider {
    height: 100%;
}

.n-input-number {
    width: 100%;
}